[submodule "apps/svelte-frontend"]
	path = apps/svelte-frontend
	url = https://github.com/rivenmedia/riven-frontend
	branch = graphql
[submodule "svelte-frontend"]
	path = svelte-frontend
	url = https://github.com/rivenmedia/riven-frontend
	branch = graphql
