services:
  riven:
    container_name: riven-ts-dev
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
    tty: true
    environment:
      DATABASE_URL: postgres+psycopg2://postgres:${DATABASE_PASSWORD}@riven-ts-dev-db:5432/riven
      NODE_ENV: development
    volumes:
      - ./data:/riven-ts/data
      - /mnt/riven:/mount:rshared,z
    develop:
      watch:
        - path: apps
          action: sync
          target: /riven-ts/apps
        - path: packages
          action: sync
          target: /riven-ts/packages
        - path: pnpm-lock.yaml
          action: sync+exec
          target: /riven-ts/pnpm-lock.yaml
          exec:
            command: pnpm install
    ports:
      - 8080:8080
    depends_on:
      riven-ts-db:
        condition: service_healthy
    profiles:
      - all

  riven-ts-db:
    image: postgres:17-alpine
    container_name: riven-ts-dev-db
    restart: unless-stopped
    profiles:
      - all
      - services
    ports:
      - 5432:5432
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: riven
    volumes:
      - riven-ts-db:/var/lib/postgresql/data/pgdata
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready -U postgres
      interval: 10s
      timeout: 5s
      retries: 5

  riven-ts-cache:
    container_name: riven-ts-dev-cache
    image: redis
    restart: unless-stopped
    ports:
      - 6379:6379
    profiles:
      - all
      - services

  jaeger:
    container_name: BullMQ_with_opentelemetry_jaeger
    image: jaegertracing/all-in-one:1.75.0
    ports:
      - 4318:4318
      - 16686:16686
    profiles:
      - all
      - analytics

  bullboard:
    container_name: bullboard
    image: venatum/bull-board
    restart: unless-stopped
    ports:
      - 4000:4000
    environment:
      PORT: 4000
    profiles:
      - all
      - analytics

  plex:
    container_name: plex
    image: plexinc/pms-docker
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - capabilities:
                - gpu
    runtime: nvidia
    gpus: all
    ports:
      - 32400:32400
    environment:
      TZ: Europe/London
      PLEX_CLAIM: claim-hqAzC6-eB8pZqc2MveVL
    volumes:
      - ./plex/config:/config
      - ./plex/transcode:/transcode
      - /mnt/riven:/mount:rslave,z
    healthcheck:
      test: curl --connect-timeout 15 --silent --show-error --fail http://0.0.0.0:32400/identity
      interval: 1m00s
      timeout: 15s
      retries: 3
      start_period: 1m00s
    profiles:
      - all
      - services

volumes:
  riven-ts-db:
