# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/

certificates/

*storybook.log
storybook-static/
public/mockServiceWorker.js

# Visual regression snapshots
**/__vis__/**/__diffs__
**/__vis__/**/__results__
**/__vis__/local
