# User settings

PUID=${PUID:-1000}
PGID=${PGID:-1000}

# External services

## Enable Sentry Spotlight analytics integration
SENTRY_SPOTLIGHT=1

## Clear Sentry events from the local server on startup (useful for development)
SENTRY_SPOTLIGHT_CLEAR_ON_STARTUP=0

# Core settings

## PostgreSQL database connection URL
RIVEN_SETTING__databaseUrl="postgresql+psycopg2://<user>:<password>@riven-db/riven"

## Redis connection URL
RIVEN_SETTING__redisUrl=""

## Enable VFS debug logging
RIVEN_SETTING__vfsDebugLogging=false

## Riven VFS mount path
RIVEN_SETTING__vfsMountPath="/mnt/riven"

## Wipe Redis data on startup
RIVEN_SETTING__unsafeWipeRedisOnStartup=false

## Wipe database on startup
RIVEN_SETTING__unsafeWipeDatabaseOnStartup=false

## Application log level
RIVEN_SETTING__logLevel="info"

## Application log directory
RIVEN_SETTING__logDirectory="logs"

## Prefer season packs over show packs
RIVEN_SETTING__preferSeasonPacks=true
