# External services

## Enable Sentry Spotlight analytics integration
SENTRY_SPOTLIGHT=1

## Clear Sentry events from the local server on startup (useful for development)
SENTRY_SPOTLIGHT_CLEAR_ON_STARTUP=0

# Instance settings (core configuration for the Riven instance)

## PostgreSQL database connection URL
RIVEN_INSTANCE_SETTING__databaseUrl="postgresql+psycopg2://<user>:<password>@riven-db/riven"

## Redis connection URL
RIVEN_INSTANCE_SETTING__redisUrl="redis://0.0.0.0:6379"

## Enable debug logging for the database
# RIVEN_INSTANCE_SETTING__databaseDebugLogging=false

## Enable VFS debug logging
RIVEN_INSTANCE_SETTING__vfsDebugLogging=false

## Riven VFS mount path
RIVEN_INSTANCE_SETTING__vfsMountPath="/mnt/riven"

## Wipe Redis data on startup
RIVEN_INSTANCE_SETTING__unsafeWipeRedisOnStartup=true

## Wipe database on startup
RIVEN_INSTANCE_SETTING__unsafeWipeDatabaseOnStartup=true

RIVEN_INSTANCE_SETTING__enabledLogTransports=["console"]

## Application log directory
RIVEN_INSTANCE_SETTING__logDirectory="logs"

## GraphQL host
RIVEN_INSTANCE_SETTING__gqlHost="0.0.0.0"

# Riven settings

## Application log level
RIVEN_SETTING__logLevel="info"

## Prefer season packs over show packs
RIVEN_SETTING__preferSeasonPacks=true

## Enabled plugins
RIVEN_SETTING__enabledPlugins=[]
